{% extends 'base.html' %}

{% block title %}
  Make a Post
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <form method="post" action="{{ url_for('index') }}" class="form-horizontal">
        {{ form.csrf_token }}
        <div class="form-group">
          <label for="{{ form.content.id }}">{{ form.content.label }}</label>
          {{ form.content(class = 'form-control') }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}