{% extends 'base.html' %}

{% block title %}
  Post Board
{% endblock %}

{% block content %}
  <div class="row">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <span class="text-danger">{{ message }}</span>
            {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% for post in posts %}
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            {% if post.post.anonymous %}
              <h3 class="card-title">Anonymous</h3>
            {% else %}
              <h3 class="card-title">{{ post.post.author }}</h3>
            {% endif %}
            <h4 class="card-subtitle mb-2 text-muted">{{ post.post.title }}</h4>
            <p class="card-text">{{ post.post.content }}</p>
            <p class="card-text">
              <small class="text-muted">Upvotes: {{ post.post.upvotes }}, Downvotes: {{ post.post.downvotes }}</small>
            </p>
            {% if logged_in %}
              <a href="{{ url_for('upvote', post_id = post.post.id, comment_id = 0, is_post = true, on_post_page = false) }}"
                class="btn {% if post.is_upvote == True %}btn-success{% else %}btn-secondary{% endif %}">Upvote</a>
              <a href="{{ url_for('downvote', post_id = post.post.id, comment_id = 0, is_post = true, on_post_page = false) }}"
                class="btn {% if post.is_upvote == False %}btn-danger{% else %}btn-secondary{% endif %}">Downvote</a>
            {% endif %}
            <a href="{{ url_for('post', post_id = post.post.id) }}" class="btn btn-primary">View Post</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
